@media screen and (max-width: 930px) {
  body {
    height: 100%;
    padding-top: 80px;
  }
  h1 {
    padding-bottom: 15px;
    font-size: 2em;
  }
  p {
    padding-bottom: 20px;
  }
  .grid-container {
    flex-direction: column-reverse;
    margin-bottom: 40px;
  }
  .grid-container:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 0;
  }
  .grid-container:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .grid-container .item {
    text-align: center;
  }
  .grid-container .item:first-of-type {
    padding: 40px 20px;
  }
  .grid-container .item p {
    max-width: 100%;
  }
  .grid-container .item .stats-grid {
    grid-template-columns: 1fr;
  }
  .grid-container .item .stats-grid .stat {
    padding-bottom: 20px;
    text-align: center;
  }
  .grid-container .item .overlay-violet {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 0;
  }
  .grid-container .item img {
    height: 230px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 0;
  }
}
